{% extends 'horoscope/base_horoscope.html' %}

{% load static %}
{% load zodiac_filters %}

{% block css_update %}
<link rel="stylesheet" href="{% static 'horoscope/css/index_horoscope.css' %}">
{% endblock css_update %}

{% block title %} Все знаки зодиака {% endblock title %}

{% block body %}
    <ul>
        {% for elem in data %}
            <li><a href="{% url 'horoscope:sign_zodiac' elem.name %}">
                {{elem.name|title}}
                {{elem.name|zodiac_icon}}
            </a></li>
        {% endfor %}
    </ul>
{% endblock body %}
