{% extends 'horoscope/base_horoscope.html' %}

{% load static %}
{% load zodiac_filters %}

{% block css_update %}
<link rel="stylesheet" href="{% static 'horoscope/css/info_zodiac.css' %}">
{% endblock css_update %}

{% block title %} {{ data.name | title }} — знак зодиака {% endblock title %}

{% block body %}
<div class="info-container">
  <h1 class="sign-title">{{ data.name | title }} {{ data.name | zodiac_icon }}</h1>
  <p class="dates">{{ data.dates }}</p>

  <div class="info-card">
    <div class="element-block {{ data.element }}">
      Элемент: {{ data.element | title }}<br>
      Планета: {{ data.planet }}
    </div>
    <div class="description-block">
      {{ data.description }}
    </div>
  </div>
</div>
{% endblock body %}