
<nav style="background-color: #f0f0f0; padding: 15px;">
    <ul style="display: flex; justify-content: center; gap: 30px; list-style: none; margin: 0;">
        <li><a href="{% url 'movie:all_movies' %}" style="text-decoration: none; color: #333; font-weight: bold;">Фильмы</a></li>
        <li><a href="{% url 'movie:all_actors' %}" style="text-decoration: none; color: #333; font-weight: bold;">Актёры</a></li>
        <li><a href="{% url 'movie:all_producers' %}" style="text-decoration: none; color: #333; font-weight: bold;">Режиссёры</a></li>
    </ul>
</nav>