{% extends "blog/base.html" %}
{% block title %}{{ category.title }}{% endblock %}

{% block content %}
    <h1>{{ category.title }}</h1>
    <p>{{ category.description }}</p>

    <section class="posts">
        <div class="container">
            <hr>
            {% for post in posts %}
                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                <p>{{ post.short_body | safe }}</p>
                <hr>
            {% endfor %}
        </div>
    </section>

{% endblock %}