{% extends "blog/base.html" %}
{% block title %}Главная{% endblock %}

{% block content %}
<section class="al mt-3">
    <div class="container justify-content-center">
        <div class="alert alert-dismissible alert-warning">
            <h4 class="alert-heading">Приветствую вас!</h4>
            <h5 class="mb-0">Сайт находится в процессе разработки.<br>
                Следить за процессом разработки можно в: <a href="https://t.me/IT_Success_Path">Telegram-канале
                    "Кодим вместе: Путь к IT-Успеху"</a></h5>
        </div>
    </div>
</section>

  {% block categories_list %}
      {% include 'blog/index_page/category_list.html' %}
  {% endblock %}

{% endblock %}